.navbar,
.navbar-default {
  background-color: var(--dark-grey) !important;
}

.iconButtonWrapper,
.IconButton {
  position: absolute;
  right: 0px;
}

@media screen and (max-width: 550px) {
  .navbar-brand {
    margin: auto;
    width: 50%;
  }
}
