.productCard {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 120px;
  background-color: #ffffff;
  margin-left: 5px;
  margin-bottom: 5px;
}

.productCard > img {
  width: 50px;
  height: 50px;
}
.productCard > .productData {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.productCard > .productData > .productName {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.productCard > .productData > .productStock {
  font-size: 14px;
}

.productCard > .productData > .productStock > span.high {
  color: var(--green);
}

.productCard > .productData > .productStock > span.medium {
  color: var(--orange);
}

.productCard > .productData > .productStock > span.low {
  color: var(--red);
}
