.buttonOne.modalButton {
  background-color: var(--green);
  border-color: var(--green);
  margin: 5px 8px 5px 8px;
  line-height: 100%;
  border-radius: 5px;
  width: 90%;
}
.buttonOne:hover {
  background-color: var(--green);
  border-color: var(--green);
}
.buttonTwo.modalButton {
  background-color: var(--white);
  border-color: var(--white);
  color: black;
  margin: 5px 8px 5px 8px;
  line-height: 100%;
  border-radius: 5px;
  width: 90%;
}
.button_two:hover {
  background-color: var(--white);
  border-color: var(--white);
  color: black;
}

@media screen and (max-width: 550px) {
  .button-one {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 40px;
  }

  .button-two {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 40px;
  }
}
