.btn-intersys {
  color: var(--white);
  background-color: var(--green);
}
.link {
  color: var(--light-blue);
}

.sign-form {
  background-color: var(--light-grey);
}

.icon {
  color: white;
  cursor: pointer;
}

.icon:hover {
  color: var(--light-blue);
  cursor: pointer;
}

.form-title {
  color: var(--light-blue);
  border-bottom: 2px solid var(--light-blue);
}

h2 {
  color: var(--light-blue);
}
