svg {
  color: var(--white);
}

.btn-intersys {
  color: var(--white);
  background-color: var(--green);
}
.btn-intersys:hover {
  color: var(--green);
}

.link {
  color: var(--light-blue);
}

.signup-form {
  background-color: var(--light-grey);
}

.icon {
  color: white;
  cursor: pointer;
}

.icon:hover {
  color: var(--light-blue);
  cursor: pointer;
}

h2,h5 {
  color: var(--light-blue);
}
.form-title {
  color: var(--light-blue);
  border-bottom: 2px solid var(--light-blue);
}
