.filtersDropdown {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
  margin-top: 5px;
}

.filtersDropdown > .btn {
  background-color: var(--light-blue) !important;
  border-color: var(--light-blue) !important;
  color: white;
}

.filtersDropdown > .dropdown-item.active {
  background-color: var(--light-blue);
}

.filtersDropdown > .dropdown-item {
  font-size: 15px;
}
