.orderCardsContainer {
  width: 100%;
  max-width: 1800px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
  min-height: 500px;
}
