#addresses-dropdown {
  background-color: black;
  border-color: black;
}

#addresses-dropdown:hover {
  color: #fff;
  background-color: black;
  border-color: var(--green);
}

#addresses-dropdown:focus {
  box-shadow: 0 0 0 0.2rem var(--green);
}
