@import "../../css/colors.css";

.card {
  background-color: var(--dark-grey);
  width: 20%;
  padding: 6px;
  position: absolute;
  right: 100px;
  top: 105px;
  z-index: 51;
  overflow: hidden;
}

@media screen and (max-width: 550px) {
  .card {
    width: 100%;
    padding: 2px;
    position: absolute;
    right: 0px;
    top: 202px;
  }
}
