.order-products-price {
  color: var(--light-blue);
}

.order-total-price {
  color: var(--light-blue);
  font-weight: bold;
}

.order-details-status {
  color: var(--orange);
}

.order-details-user-role {
  color: var(--green);
}
