.AskPasswordModal {
  width: 270px;
  height: 170px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  align-content: center;
  border-radius: 5px;
}
.PasswordModalContent {
  padding: 0;
  padding-left: 1%;
}
.PasswordModalLabel {
  text-align: center;
  font-weight: 500;
}
.form-control-password-modal {
  border-color: #000000;
  border-width: 1px;
  height: 30px;
  margin-right: 50%;
  width: 200px;
  border-radius: 5%;
}
.AskPasswordModal .modal-content {
  border: 0;
}

.password-form-modal {
  margin-left: 10%;
}
.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden;
}

.AskPasswordModalSendButton {
  background-color: var(--green) !important;
  border-radius: 5px !important;
  border-color: var(--green) !important;
  width: 150px;
  height: 40px;
  display: block;
  margin: auto;
  margin-top: 3%;
}
