* {
  --dark-grey: #55565a;
  --light-grey: #c4c4c4;
  --green: #6cc04a;
  --light-blue: #0071ce;
  --orange: #f98f3e;
  --red: #ce2500;
  --white: #ffff;
}

.btn-intersys {
  color: var(--white);
  background-color: var(--green);
}

.link {
  color: var(--light-blue);
}

.login-form {
  background-color: var(--light-grey);
}
