.paymentMethodsTitle {
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}

.paymentOption {
  border-color: var(--dark-grey);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  height: 40px;
  background-color: var(--white);
  padding-top: 5px;
}
.paymentButton {
  width: 35px;
}
.paymentTag {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  text-align: center;
}

.paymentOption img {
  margin-right: 50px;
  margin-left: 10px;
}

.cardForm {
  margin-top: 20px;
}

.modal_stripe {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  align-content: center;
}

.modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden;
}
@media screen and (max-width: 550px) {
  .paymentOption {
    width: 100% !important;
  }

  .PaymentMethods {
    margin: auto;
  }
}
@media screen and (min-width: 550px) {
  .paymentOption {
    width: 90%;
  }
}
@media screen and (min-width: 1600px) {
  .paymentOption {
    width: 90%;
  }
  .PaymentMethods {
    margin-left: 15%;
  }
}
