.leftText {
  text-align: left !important;
  margin-bottom: 10%;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}
.UserEmail,
.UserName {
  margin-left: -50% !important;
}
.UserName {
  font-weight: bold;
  font-size: 18px;
}
.UserData {
  height: 50%;
  width: 40%;
}
