p {
  padding-bottom: 2%;
}

.text-error {
  font-size: 6vw;
  margin: auto;
  text-align: center;
  line-height: 6vh;
  padding-top: 10vh;
}

.img-error {
  width: 4vw;
  height: 4vw;
  animation: rotation 6s infinite linear;
}

.first-line {
  font-size: 3vw;
  margin: auto;
  text-align: center;
  padding-top: 2vh;
}

.second-line {
  font-size: 2vw;
  margin: auto;
  text-align: center;
  padding-top: 4vh;
}

.errorButton {
  background-color: var(--green);
  border-color: var(--green);
  margin: 5px 8px 5px 8px;
  line-height: 100%;
  border-radius: 5px;
  width: 10%;
  font-size: 1vw;
}
.errorButton:hover {
  background-color: var(--green);
  border-color: var(--green);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
