.FastLoginButton {
    background-color: var(--green) !important;
    border-radius: 5px !important;
    border-color: var(--green) !important;
    position: relative;
    margin: auto;
    width: 250px;
    height: 40px;
}