.searchBox-adminPage {
  width: 400px !important;
  margin: auto;
  background-color: var(--light-grey);
}
.searchIcon-box-adminPage {
  margin-top: 2%;
  margin-right: 15%;
}

.searchBox-input-adminPage {
  width: 200px;
  background-color: var(--light-grey);
  border-color: var(--light-grey);
  border-bottom-color: var(--dark-grey);
}
.rightSearchIcon-AdminPage {
  margin-top: 2%;
  cursor: pointer;
}
@media screen and (max-width: 550px) {
  .searchBox-adminPage {
    width: 90%;
  }
}
@media screen and (max-width: 450px) {
  .searchBox-adminPage {
    width: 300px !important;
  }
}
