.searchBox-adminPage {
  width: 300px !important;
  margin: auto;
  background-color: var(--light-grey);
}

.rightSearchIcon-AdminPage {
  position: absolute;
}
.searchIcon-box-adminPage {
  margin-top: 2%;
  margin-right: 15%;
}

.searchBox-input-adminPage {
  width: 200px;
  background-color: var(--light-grey);
  border-color: var(--light-grey);
  border-bottom-color: var(--dark-grey);
}
.rightSearchIcon-AdminPage {
  margin-left: 90%;
  margin-top: 2%;
}
@media screen and (max-width: 550px) {
  .searchBox-adminPage {
    width: 90%;
  }
}
