.row.adminProductGrid {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

@media screen and (max-width: 550px) {
    .row.adminProductGrid {
        flex-direction: column;
    }
}

@media screen and (max-width: 380px) {
    .row.adminProductGrid {
        width: 90%;
    }
}